#preview, a {
    cursor: pointer;  
}
.iii{
    margin-left: 45%;
    cursor: pointer;
}

.active {
    /* background-color: aquamarine; */
    /* color: red; */
    font-style: italic;
}

.extra ul{
    display: flex
}

.active {
    background-color: aquamarine;
    font-style: italic;
}